<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<!-- BEGIN : Head-->

<head>
    <title>Add Foreign Tour</title>
    <style>
        .required{
            color: red;
            font-weight: bold;
        }
    </style>
    <script>
        function showEmployee(id) {
            var dropdown = document.getElementById('employee');
            dropdown.length = 0;

            var defaultOption = document.createElement('option');
            defaultOption.text = 'Choose Employee';
            defaultOption.value = '0';
            dropdown.add(defaultOption);
            dropdown.selectedIndex = 0;



            var xhttp;
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText);
                    var option;
                    for (var i = 0; i < data.length; i++) {
                        option = document.createElement('option');
                        option.text = data[i].firstName+' '+data[i].lastName+' - '+data[i].idNo;
                        option.value = data[i].id;
                        dropdown.add(option);
                    }
                }
            };
            xhttp.open("GET", "/foreign-tour/api?id="+id, true);
            xhttp.send();
        }
    </script>
</head>
<!-- END : Head-->
<body>
<div class="content-wrapper" layout:fragment="main-content">

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h4 class="card-title">Add Foreign Tour</h4>
                    </div>
                    <div class="col-6 text-right">
                        <h4 class="card-title"><a th:href="@{/foreign-tour/list}">View List</a></h4>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="col-lg-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title danger" th:text="${errMsg}"></h4>
                                <h4 class="card-title success" th:text="${successMsg}"></h4>

                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form th:object="${foreignTour}" th:method="POST" th:action="@{/foreign-tour/add}">
                                        <div class="form-group">
                                            <label for="country">Country Name ( <span class="required">*</span> )</label>
                                            <input type="text" required id="country" class="form-control round" th:field="*{country}" placeholder="Enter country Name Here">
                                        </div>

                                        <div class="form-group">
                                            <label for="arrangeBy">Arrange By ( <span class="required">*</span> )</label>
                                            <input type="text" required id="arrangeBy" class="form-control round" th:field="*{arrangeBy}" placeholder="Enter Arrange By Here">
                                        </div>
                                        <fieldset class="form-group">
                                            <label for="fundingSourceOrg" >Finance By ( <span class="required">*</span> )</label>
                                            <select class="form-control"  required id="fundingSourceOrg" th:field="*{fundingSourceOrg}">
                                                <option value="0">Select One</option>
                                                <option th:each="fsg : ${fundingSourceOrgList}" th:value="${fsg?.id}" th:text="${fsg?.name}"></option>
                                            </select>
                                        </fieldset>

                                        <div class="form-group">
                                            <label for="startDate">Start Date ( <span class="required">*</span> )</label>
                                            <input type="date" id="startDate" required class="form-control round" th:field="*{startDate}">
                                        </div>
                                        <div class="form-group">
                                            <label for="endDate">End Date ( <span class="required">*</span> )</label>
                                            <input type="date" id="endDate" required class="form-control round" th:field="*{endDate}">
                                        </div>

                                            <fieldset class="form-group">
                                                <label for="roles" >Purpose ( <span class="required">*</span> )</label>
                                                <select class="form-control"  required id="roles" th:field="*{purpose}">
                                                    <option value="0">Select One</option>
                                                    <option th:each="purpose : ${purposeList}" th:value="${purpose?.id}" th:text="${purpose?.name}"></option>
                                                </select>
                                            </fieldset>
                                        <fieldset class="form-group">
                                            <label for="department" >Department ( <span class="required">*</span> )</label>
                                            <select class="form-control" required id="department" onchange="showEmployee(this.value)">
                                                <option value="0">Select One</option>
                                                <option th:each="department : ${departmentList}" th:value="${department?.id}" th:text="${department?.name}"></option>
                                            </select>
                                        </fieldset>
                                        <fieldset class="form-group">
                                            <label for="employee" >Employee ( <span class="required">*</span> )</label>
                                            <select class="form-control" required id="employee" th:field="*{employee}" >

                                            </select>
                                        </fieldset>


                                        <div class="form-group">
                                            <label for="comment">Comment</label>
                                            <textarea id="comment" rows="4" class="form-control round" th:field="*{comment}" placeholder="Enter biography"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Status</label>
                                            <ul class="list-unstyled mb-0">
                                                <li class="d-inline-block mr-2">
                                                    <div class="radio radio-primary">
                                                        <input type="radio" th:field="*{status}" th:value="true"  id="color-radio-1"  checked>
                                                        <label for="color-radio-1">Active</label>
                                                    </div>
                                                </li>
                                                <li class="d-inline-block mr-2">
                                                    <div class="radio radio-secondary">
                                                        <input type="radio" th:field="*{status}" th:value="false" id="color-radio-2">
                                                        <label for="color-radio-2">In Active</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2"><i class="ft-check-square mr-1"></i>Save</button>
                                        <button type="reset" class="btn btn-secondary"><i class="ft-x mr-1"></i>Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>