<!DOCTYPE html>
<html class="loading" lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout.html}">
<!-- BEGIN : Head-->

<head>
    <title>View Employee</title>
    <style>
        label{
            font-weight: bold!important;
        }
    </style>
</head>
<!-- END : Head-->
<body>
<div class="content-wrapper" layout:fragment="main-content">

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h4 class="card-title">View Employee</h4>
                    </div>
                    <div class="col-6 text-right">
                        <h4 class="card-title"><a th:href="@{/employee/list}">View List</a></h4>
                    </div>
                </div>
            </div>


            <div class="card-content">
                <div class="card-body">
                    <div class="col-lg-12 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Name</label>
                                                <div class="col-md-9">
                                                    <p class="col-form-label" th:text="${employee?.firstName}+' '+${employee?.lastName}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Photo</label>
                                                <div class="col-md-9">
                                                        <img   class="col-form-label" th:src="${employee?.photo == null ? '/app-assets/img/portrait/small/dummy.jpg' : employee?.photo }" width="50" height="50">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Gender</label>
                                                <div class="col-md-9">
                                                    <p class="col-form-label" th:text="${employee?.gender}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Roles</label>
                                                <div class="col-md-9">
                                                    <p class="col-form-label">
                                                        <span th:each=" e : ${employee?.roles}" th:text="${e?.name+' '}"></span>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-md-3">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Working Place</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.workingPlace}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Date of Birth</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.dob}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Department</label>
                                                <div class="col-md-9">
                                                    <p   class="col-form-label" th:text="${employee?.department?.name}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Designation</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.designation?.name}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Email</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.email}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Last Degree</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.lastDegree}">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Mobile</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.mobile}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Id No</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.idNo}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Joining Date</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.joiningDate}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Joining Date In Current Rank</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.joiningDateInCurrentRank}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Retirement Date</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.retirementDate}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Rest Date</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.restDate}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Gender</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.gender}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Status</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.status}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Religion</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.religion}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Grade</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.grade}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Biography</label>
                                                <div class="col-md-9">
                                                    <p  class="col-form-label" th:text="${employee?.biography}">
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>